{% extends 'base.html.twig' %}

{% block title %}Nouvel événement{% endblock %}

{% block body %}
	<div class="d-flex justify-content-between m-3">
    <h2>Ajouter un nouvel événement</h2>
		<a href="{{ path('back_address_list') }}" class='btn btn-secondary'>Retour</a>
	</div>
	{{ include('partials/_form.html.twig') }}

{% endblock %}
