{% extends 'base.html.twig' %}

{% block title %}New Type{% endblock %}

{% block body %}
    <h1>Create new Type</h1>

	{{ include('partials/_form.html.twig') }}

    <a href="{{ path('back_type_list') }}">back to list</a>
{% endblock %}
