{% extends 'base.html.twig' %}

{% block title %}Nouveau genre
{% endblock %}

{% block body %}
	<div class="d-flex justify-content-between m-3">
		<h2>Création d'un nouveau genre</h2>
		<a href="{{ path('back_genre_list') }}" class='btn btn-secondary'>Retour</a>
	</div>
	{{ include('partials/_form.html.twig') }}
{% endblock %}
