{% extends 'base.html.twig' %}

{% block title %}Nouvel organisateur{% endblock %}

{% block body %}
    <h1>Création d'un nouvel organisateur</h1>
	{{ include('partials/_form.html.twig') }}
    <a href="{{ path('back_organizer_list') }}">back to list</a>
{% endblock %}
