{% extends 'base.html.twig' %}

{% block title %}Nouvel organisateur{% endblock %}

{% block body %}
	<div class="d-flex justify-content-between m-3">
		<h2>Création d'un nouvel organisateur</h2>
		<a href="{{ path('back_organizer_list') }}" class='btn btn-secondary'>Retour</a>
	</div>
	{{ include('partials/_form.html.twig') }}

{% endblock %}