{% if user.status == true %}
<form method="post" action="{{ path('back_user_deactivate', {'id': user.id}) }}" onsubmit="return confirm('Are you sure you want this user to be inactive?');">
    <input type="hidden" name="_token" value="{{ csrf_token('deactivate' ~ user.id) }}">
    <button class="mb-3 btn btn-danger">Désactiver</button>
</form>
{% else %}
<form method="post" action="{{ path('back_user_activate', {'id': user.id}) }}" onsubmit="return confirm('Are you sure you want this user to be active?');">
    <input type="hidden" name="_token" value="{{ csrf_token('activate' ~ user.id) }}">
    <button class="mb-3 btn btn-success">Activer</button>
</form>
{% endif %} 
    