{% apply inline_css(source('@email/reset.css')) %}
{% apply inline_css(source('@email/email.css')) %}

<img src="{{ email.image('@images/melodica-logo.png') }}"alt="Logo">

<div>
	<h1>
		<code>
			Vous avez reçu un mail de
			<span class="email">{{ email.from[0].address }}</span>
		</code>
	</h1>
	<p>
		<code>{{ body }}</code>
	</p>
</div>

{% endapply %}
{% endapply %}
